body {
    font-family: "Open-Sans", sans-serif;
    background-color: #f8f8f8;
}

.inner-container {
    margin: 0 8%;
}

/* Background */
.main-screen {
    background: url("../images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(000, 000, 000, 0.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.tagline {
    color: white;
    width: 80%;
    text-align: center;
    z-index: 10;
}

.tagline h1 {
    font-weight: 700;
    margin-bottom: 0;
}

/* Header */
.title {
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 20px 10%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

/* Search Bar */
form {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.search-bar {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    height: 55px;
}

.term-search {
    width: 65%;
    border-right: 2px solid #767676;
}

.location-search {
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.search-bar, .search-input {
    background-color: white;
}

.search-input, .location-input {
    height: 50px;
    border: 0;
    font-weight: 600;
    font-size: 15px;
    padding-right: 15px;
}

.search-input {
    width: 80%;
}

.location-input {
    width: 80%;
}

.search-button {
    border: 0;
    background-color: #ff452f;
    height: 55px;
    color: white;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
    width: 100px;
    /* padding: 0 20px; */
}

.search-bar i {
    color: #767676;
    margin: 0 20px;
}

.search-input:focus,
.search-input:active,
.location-input:focus,
.location-input:active,
.search-button:focus,
.search-button:active {
    outline: none;
}

/* Event Dropdown Filter */
.dropdown-container {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 25px;
}

.dropdown {
    margin-left: 15px;
}

.dropdown-buttons {
    display: flex;
    margin-left: auto;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.dropdown-toggle {
    background-color: #e6e6e6;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
}

.dropdown-toggle::after {
    margin-left: 10px;
}

.push-right {
    margin-left: auto;
}

.dropdown-menu {
    top: 6px!important;
    border-radius: 8px;
    border: 1px solid #ededed;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 600;
}

.dropdown-item:active {
    background-color: #e6e6e6;
    color: black;
}

/* Events */
.event-listing, .featured-locations {
    margin-top: 25px;
    margin-bottom: 60px;
}

.listing-title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.event-listing .listing-title {
    margin-bottom: 0;
    margin-top: 8px;
}

/* Event Card Info */
.card-container, .location-container {
    display: flex;
    margin: 20px -10px;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(33.333% - 20px);
    margin: 0 10px 30px;
    box-shadow: 3px 3px 9px rgba(141,141,141,0.1);
    border-radius: 10px;
}

.card, .card img {
    border: 0;
}

.card img {
    border-radius: 10px 10px 0 0;
    height: 258px;
    object-fit: cover;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 6px;
}

.category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.8px;
    position: absolute;
    top: 12px;
    left: 8px;
}

.category span {
    color: white;
    background-color: #fb5845;
    padding: 7px 13px;
    border-radius: 20px;
}

.date {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}

.location {
    font-size: 14px;
    font-weight: 600;
}

.location i {
    margin-right: 8px;
    font-size: 13px;
}

/* Featured Locations */
.travel-destination {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:center;
    color: white;
}

.travel-destination h4 {
    color: white;
    font-weight: 600;
    margin-bottom: 0;
}

.location-container {
    margin-bottom: 55px;
    flex-wrap: wrap;
}

.city-container {
    position: relative;
    width: calc(25% - 20px);
    margin: 0 10px;
}

.city-container img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.city-container:hover {
    cursor: pointer;
}

/* Event Modal */
.modal-dialog {
    max-width: 750px;
}

.modal-content {
    border-radius: 10px;
    border: 0;
}

.modal-header {
    padding: 0;
    display: block;
    border-bottom: 0;
}

.modal-header img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    padding: 20px 50px;
}

.modal-footer {
    padding: 20px 40px;
}

.event-title {
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: 600;
}

.modal-body .date, .modal-body .location {
    font-size: 15px;
    text-transform: none;
}

.event h4 {
    font-size: 16px;
    margin-top: 21px;
    font-weight: 600;
}

.event p {
    font-size: 14px;
}

.restaurant-gallery {
    margin: 15px 0;
}

.restaurant-gallery img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.restaurant-gallery img:hover {
    cursor: pointer;
}

.restaurant-gallery .container-fluid {
    padding: 0 10px;
}

.restaurant-gallery .col-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.restaurant-gallery .row {
    flex-wrap: nowrap;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.restaurant-gallery .row::-webkit-scrollbar {
    width: 0;
}
.restaurant-gallery p {
    margin-bottom: 0px;
}

.restaurant-gallery h4 {
    margin-top: 5px;
    margin-bottom: 1px;
}

.event-setting {
    display: flex;
}

.date-container, .time-container {
    width: 50%;
}

.event-setting i {
    margin-right: 10px;
}

.event-setting p {
    margin-bottom: 0;
    font-weight: 600;
}

.star-rating {
    color: #ff452f;
    margin-top: 10px;
}

.modal-header .close {
    position: absolute;
    top: 0;
    right: 3px;
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    padding: 4px 10px 5px;
    text-shadow: 0 0 0 transparent;
}

.modal-header .close:hover,
.modal-header .close:focus,
.modal-header .close:active {
    opacity: 1!important;
    outline: none;
}

.fa-times {
    font-size: 18px;
}

.label-container {
    display: flex;
    margin-top: 21px;
}

.label-container h4 {
    margin-top: 0;
}

.arrows {
    margin-left: auto;
}

.arrows i {
    font-size: 15px;
    margin-left: 5px;
}

.arrows i:hover {
    cursor: pointer;
}

.tickets {
    background-color: #ff452f;
    color: white;
    border: 0;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.tickets:hover {
    cursor: pointer;
    opacity: 0.9;
}

.close-modal {
    font-weight: 600;
    margin-right: 23px!important;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.close-modal:hover {
    cursor: pointer;
}

#map {
    width: 100%;
    height: 300px;
}

.mapboxgl-canvas {
    width: 100%!important;
    height: auto!important;
}

@media screen and (max-width: 1039px) {
    .card img {
        height: 206px;
    }
}

@media screen and (max-width: 973px) {
    .inner-container {
        margin: 0 5%;
    }
    .card {
        width: calc(50% - 20px);
    }
    .card img {
        height: 258px;
    }
    .city-container {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .modal-dialog {
        max-width: 600px;
    }
    .restaurant-gallery img {
        height: 156px;
    }
}

@media screen and (max-width: 915px) {
    form {
        flex-direction: column;
    }
    .search-bar {
        background-color: transparent;
        height: auto;
    }
    .term-search, .location-search {
        width: 100%;
        border: 0;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 20px;
    }
    .search-input, .location-input {
        width: 85%;
    }
    .location-search i {
        margin-right: 27px;
    }
    .search-button {
        width: 100%;
        border-radius: 20px;
        height: 45px;
    }
}

@media screen and (max-width: 820px) {
    .card img {
        height: 230px;
    }
}

@media screen and (max-width: 750px) {
    .modal {
        padding-right: 0!important;
    }
    .modal-body {
        padding: 20px 35px;
    }
}

@media screen and (max-width: 620px) {
    .inner-container {
        margin: 0 8%;
    }
    .card {
        width: calc(100% - 20px);
    }    
    .card img {
        height: 300px;
    }
    .dropdown-container {
        display: block;
    }
    .dropdown-container .listing-title {
        margin-bottom: 20px;
    }
    .dropdown {
        margin-right: 15px;
        margin-left: 0;
    }
    .category {
        font-size: 12px;
        top: 17px;
        left: 10px;
    }
    .category span {
        padding: 9px 17px;
    }
}

@media screen and (max-width: 583px) {
    .search-input, .location-input {
        width: 80%;
    }
    .search-bar i {
        margin-right: 10px;
    }
    .location-search i {
        margin-right: 15px;
    }
    .city-container {
        width: calc(100% - 20px);
    }
    .restaurant-gallery img {
        height: 138px;
    }
    .star-rating {
        font-size: 16px;
    }
    .modal-header img {
        height: 309px;
    }
}

@media screen and (max-width: 480px) {
    .card img {
        height: 260px;
    }
    .restaurant-gallery img {
        height: 114px;
    }
    .modal-body {
        padding: 20px 26px;
    }
}

@media screen and (max-width: 415px) {
    .search-input, .location-input {
        width: 75%;
    }
}

@media screen and (max-width: 390px) {
    .card img {
        height: 220px;
    }
}