body {
    font-family: "Open-Sans", sans-serif;
    background-color: #f8f8f8;
}

.inner-container {
    margin: 0 10%;
}

/* Background */
.main-screen {
    background: url("../images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 20px 10%;
}

.title {
    margin-right: auto;
    font-weight: 600;
    font-size: 20px;
}

/* Search Bar */
.search-container, .search-input {
    /* background-color: #ededed; */
    background-color: white;
}

.search-container {
    padding: 5px 20px;
    border-radius: 20px;
}

.search-container i {
    font-size: 12px;
    color: #767676;
    margin: 0 6px;
}

.search-input {
    border: 0;
    font-weight: 600;
    height: 28px;
    font-size: 13px;
    letter-spacing: 0.2px;
}

.search-input:focus, .search-input:active {
    outline: none;
} 

/* Event Dropdown Filter */
.dropdown-container {
    display: flex;
    margin-top: 30px;
}

.dropdown {
    margin-left: 15px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.dropdown-toggle {
    background-color: #e6e6e6;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
}

.dropdown-toggle::after {
    margin-left: 10px;
}

.push-right {
    margin-left: auto;
}

.dropdown-menu {
    top: 6px!important;
    border-radius: 8px;
    border: 1px solid #ededed;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 600;
}

.dropdown-item:active {
    background-color: #e6e6e6;
    color: black;
}

/* Events */
.event-listing, .featured-locations {
    margin-top: 25px;
    margin-bottom: 55px;
}

.listing-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

/* Event Card Info */
.card-container, .location-container {
    display: flex;
    margin: 20px -10px;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(33.333% - 20px);
    margin: 0 10px 30px;
    box-shadow: 3px 3px 9px rgba(141,141,141,0.1);
    border-radius: 10px;
}

.card, .card img {
    border: 0;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 6px;
}

.category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.8px;
    position: absolute;
    top: 12px;
    left: 8px;
}

.category span {
    color: white;
    background-color: #fb5845;
    padding: 7px 13px;
    border-radius: 20px;
}

.date {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}

.location {
    font-size: 14px;
    font-weight: 600;
}

.location i {
    margin-right: 8px;
    font-size: 13px;
}

/* Featured Locations */
.travel-destination {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:center;
    color: white;
}

.travel-destination h4 {
    color: white;
    font-weight: 600;
    margin-bottom: 0;
}

.location-container {
    margin-bottom: 55px;
    flex-wrap: wrap;
}

.city-container {
    position: relative;
    width: calc(25% - 20px);
    margin: 0 10px;
}

.city-container img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.city-container:hover {
    cursor: pointer;
}

/* Event Modal */
.modal-dialog {
    max-width: 750px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    padding: 0;
    display: block;
    border-bottom: 0;
}

.modal-header img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    padding: 20px 50px;
}

.event-title {
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: 600;
}

.modal-body .date, .modal-body .location {
    font-size: 15px;
    text-transform: none;
}

.event h4 {
    font-size: 16px;
    margin-top: 21px;
    font-weight: 600;
}

.event p {
    font-size: 14px;
}

.restaurant-gallery {
    margin: 15px 0;
}

.restaurant-gallery img {
    width: 100%;
}

.restaurant-gallery .container-fluid {
    padding: 0 10px;
}

.restaurant-gallery .col-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.restaurant-gallery .row {
    flex-wrap: nowrap;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.restaurant-gallery .row::-webkit-scrollbar {
    width: 0;
}

.event-setting {
    display: flex;
}

.date-container, .time-container {
    width: 50%;
}

.event-setting i {
    margin-right: 10px;
}

.event-setting p {
    margin-bottom: 0;
}

@media screen and (max-width: 973px) {
    .card {
        width: calc(50% - 20px);
    }
    .city-container {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}